<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="incidentSimulatorService" class="ee.team14.IncidentSimulatorServiceImpl" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:/home/taivo/Documents/kool/java/db/BorderDB;shutdown=true" />
        <property name="username" value="SA" />
        <property name="password" value="" />
    </bean>

    <bean id="mySessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="ee.team14.entity" />
    </bean>

    <bean name="borderService" class="ee.team14.service.BorderService">
        <property name="borderDAO" ref="borderDao" />
    </bean>

    <bean name="borderDao" class="ee.team14.dao.BorderDAO">
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>

</beans>